# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folder
dist/
build/

# Coverage reports
coverage/

# OS files
.DS_Store
Thumbs.db

# PM2 logs
logs/
*.log